.navigation{
    background-color:#29a304; 
}
.navbar-brand img{
    width: 400px;
}
.nav-link{
    font-size: 50px;

}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding: 50px;
    letter-spacing: -1px
}    
.carousel{
    max-width:100%;
    margin: 0 auto 100px;
}

.Specs{
    top: 10px
}
.text{
   max-width:600px ; 
   margin: 0 auto ;
   font-weight: bold;
   font-size: 35px
}
.col-sm.right{
    background: #29a304;
}
.col-sm.left{
    background: blue;
    font-size: 50px;
}
.col-sm{
    color: white;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}
.col-6.col-sm-4{
background: yellow;
font-size: 50px
}
.col-6.col-sm-3{
    background: red;
    font-size: 50px;
   
}
.col-6{
    color: black;
    padding: 50px;
    margin: 0 auto ;
    font-weight: bold;
    
}